#box {
    height: auto;
    margin: 0 auto;
    padding: 1em 4em;
    margin-top: 1em;
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto;
}

#toAmount,
#toFromtxt {
    padding: 0.5em;
}

#toAmount {
    font-size: 2em;
}

.result-container {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
}

.country-img {
    max-width: 100px;
}

.flags {
    text-align: center;
    padding: 1em;
}

#currency-holder {
    justify-content: center;
}

#box h2 {
    padding: 2em;
}